[Unit]
Description=V2Ray Service
Documentation=https://www.v2fly.org/
After=network.target nss-lookup.target

[Service]
#User=nobody
#CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
#AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
#NoNewPrivileges=true
Environment="V2RAY_VMESS_AEAD_FORCED=0"
ExecStart=/usr/local/bin/v2ray run -c /etc/v2ray/config.json
Restart=always
#Restart=on-failure
#RestartPreventExitStatus=23

[Install]
WantedBy=multi-user.target
